################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConvertJsonToSrt/bin
/ConvertJsonToSrt/obj
/剪印字幕轉換


