################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConvertJsonToSrt/bin/Debug/net6.0-windows
/ConvertJsonToSrt/obj
/剪印字幕轉換
